Bin/System.CoreEx.dll
Bin/log.log
Bin/log4net.dll
Bin/rolling.log
Bin/System.Reactive.dll
Bin/System.Interactive.dll
Bin/System.Windows.Interactivity.dll
Bin/TDV.Client.Data.pdb
Bin/TDV.Client.Data.dll